<h1>Edit Collection</h1>

<%= form_with(model: @collection, url: collection_path(@collection), method: :patch) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.submit "Update Collection", class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Back to Collections', collections_path, class: 'btn btn-secondary' %>
