<h1>Editer la collection</h1>

<%= form_with(model: @collection, url: collection_path(@collection), method: :patch) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.submit "Mettre à jour la collection", class: 'btn', style: "color: #fbfcfa; background: #1e3d59; border-radius: 8px; border: 1px; border-color: $blanc-creme; border-style: solid; cursor: pointer; margin-right: 10px;" %>
<% end %>
<%= link_to 'Retourner aux collections', collections_path, class: 'btn', style: "color: #fbfcfa; background: #1e3d59; border-radius: 8px; border: 1px; border-color: $blanc-creme; border-style: solid; cursor: pointer; margin-right: 10px;" %>
