<div class="d-flex flex-column align-items-center">
  <h1><%= @collection.name %></h1>

  <%= button_to 'Delete Collection', collection_path(@collection), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

  <h2>Albums</h2>
</div>

<div class="d-flex flex-wrap justify-content-center gap-3 mt-3">
  <% @collection.albums.each do |album| %>


    <div class="card-album">
      <%= button_to album_path(album[:id]), method: :get do %>
        <div class="photos-container">
          <%= image_tag(album.getPokemonImg(0), class: 'photos-container-main')%>
          <div class="photos-container-secondary">
            <%= image_tag(album.getPokemonImg(1))%>
            <%= image_tag(album.getPokemonImg(2))%>
          </div>
        </div>
        <div class="card-album-infos row">
          <span class="card-album-name-album"><%= album.name %> </span>
          <span class="card-album-nb-card-album"><%= album.pokemons.size %> <%= album.pokecardcount %></span>
        </div>
      <% end %>
    </div>
  <%# -------- TEST VISUEL ALBUM ----------- %>
  <% end %>
</div>

<div class="statistic">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <% @seasons.each do |season| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-1 mt-1 g-2">
          <div class="extension-stat" data-controller="toggle" data-action="click->toggle#fire">
            <div class="text-center">
              <h3><%= season.season_name %></h3>
              <p class="stats"><%= season.pokemons.where(id: @pokemon_ids).count %>/<%= season.extensions.sum(&:total) %></p>
            </div>
            <div class="card-body">
              <div class="progress mb-1">
                <div class="progress-bar" role="progressbar" style="width: <%= season.pokemons.where(id: @pokemon_ids).count.fdiv(season.extensions.sum(&:total))*100 %>%;" aria-valuenow="<%= season.pokemons.where(id: @pokemon_ids).count.fdiv(season.extensions.sum(&:total))*100 %>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="extension-details d-none" data-toggle-target="extension">
                <% season.extensions.each do |extension| %>
                  <div class="mb-1">
                    <p><b><%= extension.extension_name %></b> : <%= @collection.pokemons.where(extension_id: extension.id).uniq.count %>/<%= extension.total %></p>
                    <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar" style="width: <%= @collection.pokemons.where(extension_id: extension.id).uniq.count.fdiv(extension.total)*100 %>%;" aria-valuenow="<%= @collection.pokemons.where(extension_id: extension.id).uniq.count.fdiv(extension.total)*100 %>" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
</div>

<%= javascript_include_tag 'side_bar_button_show_collection' %>
