<div data-controller="search-pokemon">


  <div class="d-none search-page" data-search-pokemon-target="search">
    <%= form_with(method: :get) do %>
      <div class="form-group d-flex"> <!-- Utilisation de classes flexbox pour aligner les éléments -->
        <div class="ml-3"> <!-- Div pour le champ de texte avec une marge à gauche -->
          <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Evoli / pop3-13", data: { action: "keyup->search-pokemon#search" } %>
        </div>
      </div>
    <% end %>
    <div data-search-pokemon-target="results">

    </div>
  </div>

  <%= form_with(method: :get) do %>
    <div class="form-group d-flex align-items-center"> <!-- Utilisation de classes flexbox pour aligner les éléments -->
      <div> <!-- Div pour le label -->
        <%= label_tag :pokemon_id, "Nom Pokemon ou son ID :" %>
      </div>
      <div class="ml-3" data-action="click->search-pokemon#fire"> <!-- Div pour le champ de texte avec une marge à gauche -->
        <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Evoli / pop3-13" %>
      </div>
      <div class="ml-3"> <!-- Div pour le bouton de recherche avec une marge à gauche -->
        <%= submit_tag "Recherche", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<style>
  #liste-elements ul {
    list-style-type: none; /* Enlève les puces de liste */
    padding-left: 0; /* Enlève le padding par défaut */
  }

  #liste-elements li {
    margin-bottom: 10px; /* Optionnel : Ajuste l'espacement entre les éléments */
  }
</style>

<hr>
  <div class="season-background">
    <div class="season-list-scrollable my-1">
      <div class="season-list-content" style="white-space: nowrap; overflow-x: auto;">

        <% @seasons.each do |season| %>
          <div class="season-and-extensions" id="season-<%= season.id %>" style="display: inline-block; margin-right: 20px; display: flex;">
            <span class="season-name button-scroll"><strong><%= season.season_name %></strong></span>
            <% unless season.extensions.nil? %>
              <div class="button-container" style="display: none;">
                <% season.extensions.each do |extension| %>
                  <%= link_to extension.extension_name, request.params.merge(extension_id: extension.id, type: nil), class: "button-87 season-link button-scroll", style: "color: white; text-decoration: none;" %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll(".season-name").forEach(function(seasonName) {
    seasonName.addEventListener("click", function(event) {
      event.preventDefault();
      const seasonAndExtensions = seasonName.parentElement;
      const seasonId = seasonAndExtensions.id.split("-")[1];

      // Afficher les extensions de la saison et masquer les autres
      document.querySelectorAll(".season-and-extensions").forEach(function(seasonDiv) {
        if (seasonDiv.id === seasonAndExtensions.id) {
          seasonDiv.querySelector(".button-container").style.display = "block";
        } else {
          seasonDiv.querySelector(".button-container").style.display = "none";
          seasonDiv.style.display = "none"; // Masquer la saison
        }
      });

      document.querySelectorAll(".season-name").forEach(el => el.style.fontWeight = "normal");
      seasonName.style.fontWeight = "bold";
    });
  });
});
</script>
