<!-- div to controller stimulus search-pokemon who permit to have a first search bar leading to another one -->
<div data-controller="search-pokemon">
  <!-- div for the real search bar with autocomplete -->
  <div class="d-none search-page" data-search-pokemon-target="search">
    <h2>Recherche par nom ou ID du pokemon</h2>
    <%= form_with(method: :get) do %>
      <div class="form-group d-flex"> <!-- Utilisation de classes flexbox pour aligner les éléments -->

        <div class="align-search">
          <div class="float">
            <i class="fa-solid fa-arrow-left mx-3 py-2" data-action="click->search-pokemon#fire"></i>
          </div>
          <div class="float">
            <%= text_field_tag :name, params[:name], class: "form-control float", placeholder: "Evoli / pop3-13", data: { action: "keyup->search-pokemon#search" } %>  <!-- field to have the pokemon name autocomplete -->
          </div>
        </div>
      </div>
    <% end %>

    <div data-search-pokemon-target="results"> <!-- send the result of the search -->
    </div>
  </div>

  <%= form_with(method: :get) do %>
    <div class="form-group d-flex align-items-center"> <!-- Utilisation de classes flexbox pour aligner les éléments -->
      <div class="ml-3 position-relative" data-action="click->search-pokemon#fire"> <!-- Div pour le champ de texte avec une marge à gauche -->
        <%= text_field_tag :name, params[:name], class: "form-control search-input", placeholder: "Chercher un Pokemon" %>
        <i class="fas fa-search search-icon"></i>
      </div>
      <div class="ml-3"> <!-- Div pour le bouton de recherche avec une marge à gauche -->
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Réinitialiser la recherche", request.params.except(:type, :season_id, :name, :extension_id), style: "color: #fbfcfa; cursor: pointer; margin-top: 3px; font-size: 10px" %>

  <div class="season-background">
    <div class="season-list-scrollable my-1">
      <div class="season-list-content" style="white-space: nowrap; overflow-x: auto;">

        <% @seasons.each do |season| %>
          <div class="season-and-extensions clicked" id="season-<%= season.id %>" style="display: inline-block; margin-right: 20px; display: flex;">
            <span class="season-name button-scroll"><strong><%= season.season_name %></strong></span>
            <% unless season.extensions.nil? %>
              <div class="button-container clicked" style="display: none;">
                <% season.extensions.each do |extension| %>
                  <%= link_to extension.extension_name, request.params.merge(extension_id: extension.id, type: nil), class: "button-87 season-link button-scroll", style: "color: white; text-decoration: none;" %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'extension_bar' %>
