<div class="container">
  <h1>Recherche des pokémons</h1>

  <%= render 'searchbar' %>
  <%= render 'search-types' %>

  <% if @pokemons&.any? %>
    <h2>Search Results:</h2>
    <div class="display-search">
      <div class="cards-container row" data-album-id="<%= @album.id %>" data-album-pokemons-path="<%= album_album_pokemons_path(@album) %>">
        <% @pokemons.each do |pokemon| %>
          <div class="card col-lg-3 col-md-4 col-sm-6 col-6" data-pokemon-id="<%= pokemon.id %>">
            <img src="<%= pokemon.image %>" alt="<%= pokemon.pokemon_name %>">
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>Pas de Pokémon trouvé avec ce nom.</p>
  <% end %>

  <%= javascript_include_tag 'search_script' %>
</div>
