<div class="container">
  <h1>Recherche des pokémons</h1>

  <%= render 'searchbar' %>
  <%= render 'search-types' %>
<hr>



  <% if @pokemons&.any? %>
  <% if params[:extension_id].present? %>
    <% selected_extension = @seasons.map(&:extensions).flatten.find { |extension| extension.id == params[:extension_id].to_i } %>
    <% if selected_extension %>
      <h2 style="font-size: smaller; padding-left: 25px;">Extension sélectionnée: <%= selected_extension.extension_name %></h2>
    <% end %>
  <% end %>

<div class="display-search">
  <div class="cards-container row" data-album-id="<%= @album.id %>" data-album-pokemons-path="<%= album_album_pokemons_path(@album) %>">
    <% @pokemons.each_with_index do |pokemon, index| %>
      <div class="card col-6 col-sm-6 col-md-4 col-lg-3 my-1" data-pokemon-id="<%= pokemon.id %>">
        <%= pokemon_image_tag(pokemon, index) %>
      </div>
    <% end %>
  </div>
</div>
  <% else %>
    <% if params[:name].present? && params[:extension_id].present? %>
      <p style="padding-left: 25px;">Pas de Pokémon trouvé avec ce nom dans cette extension.</p>
    <% else %>
      <p style="padding-left: 25px;">Pas de Pokémon trouvé avec ce nom.</p>
    <% end %>
  <% end %>

  <%= javascript_include_tag 'search_script' %>
  <%= javascript_include_tag 'side_bar_button_new' %>

</div>
