<div class="container">
  <h1>Recherche des pokémons</h1>

  <%= render 'searchbar' %>
  <%= render 'search-types' %>

  <%= link_to "Rénitialise recherche", request.params.except(:type, :season_id, :name, :extension_id), class: 'btn btn-primary' %>


  <% if @pokemons&.any? %>
    <h2>Résultats de la recherche:</h2>
    <div class="display-search">
      <div class="cards-container row" data-album-id="<%= @album.id %>" data-album-pokemons-path="<%= album_album_pokemons_path(@album) %>">
        <% @pokemons.each do |pokemon| %>
          <div class="card col-6 col-sm-6 col-md-4 col-lg-3 my-1" data-pokemon-id="<%= pokemon.id %>">
            <img src="<%= pokemon.image %>" alt="<%= pokemon.pokemon_name %>">
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <% if params[:name].present? && params[:extension_id].present? %>
      <p>Pas de Pokémon trouvé avec ce nom dans cette extension.</p>
    <% else %>
      <p>Pas de Pokémon trouvé avec ce nom.</p>
    <% end %>
  <% end %>

  <%= javascript_include_tag 'search_script' %>
  <%= javascript_include_tag 'side_bar_button_new' %>

</div>
