
<div class="container">
  <h1>Bienvenue sur Cardtopia</h1>

 <div class="actions">
    <% if user_signed_in? %>
      <%= link_to 'Accéder à mes collections', collections_path, class: 'btn btn-secondary' %>
    <% else %>
    <%= link_to 'Inscription', new_user_registration_path, class: 'btn btn-secondary', style: "color: #fbfcfa; background: #1e3d59; border-radius: 8px; border: 1px; border-color: $blanc-creme; border-style: solid; cursor: pointer; margin-right: 10px;" %>
    <% end %>
  </div>

  <p>Cardtopia vous permet de virtualiser vos albums de cartes Pokémon. Ajoutez des cartes à vos albums, gérez vos collections et bien plus encore.</p>

  <div class="card">
    <div class="wrapper">
      <%= image_tag("mewto.webp", class: "cover-image") %>
    </div>
    <%= image_tag("Mewto.png", class: "character") %>
  </div>

    <h2>FAQ</h2>
      <div class="faq d-flex flex-direction-row d-grid gap-4 flex-wrap justify-content-center align-items-center hidden">
        <div class="slide-in-left">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <strong>Qu'est-ce que je peux faire sur Cardtopia ?</strong>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
          Grâce à Cardtopia, tu peux créer facilement ton album de cartes virtuelles en ligne pour avoir ta collection avec toi partout et tout le temps.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>Est-ce que Cardtopia est gratuit ?</strong>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Oui, Cardtopia est totalement gratuit. N'hésite pas à en parler à tes amis !
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <strong>Remerciements</strong>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Merci aux utilisateurs de nous faire confiance.</strong> Merci aux développeurs pour leurs implications.
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="dracau-img d-flex justify-content-center align-items-center slide-in-right">
        <%= image_tag("Dracaufeu-index.png", class: "dracau-img") %>
        </div>
      </div>
</div>

<%= javascript_include_tag 'side_bar_button_home' %>
<%= javascript_include_tag 'faq_animation' %>
