<h1>Editer Album</h1>

<%= form_with(model: @album, url: album_path(@album), method: :patch) do |form| %>
  <%= form.label :nom %>
  <%= form.text_field :name %>

  <%= form.submit "Mettre à jour l'album", class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Revenir à l\'album', album_path(@album), class: 'btn btn-secondary' %>
