<h1>New Album</h1>

<%= form_with(model: @album, url: collection_albums_path(@collection), method: :post) do |form| %>
  <%= form.label :name, "Album Name" %>
  <%= form.text_field :name %>
  <%= form.submit "Create Album", class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Albums', collection_path(@collection), class: 'btn btn-secondary' %>
