<div class="container">
  <h1><%= @album.name %></h1>

  <%# --------------------------- NAVBAR ALBUM DROPDOWN --------------------------- %>
  <div class="dropdown-center navbar-album">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Editer mon album
    </button>
    <ul class="dropdown-menu">
      <%= link_to 'Renommer mon album', edit_album_path(@album), class: 'dropdown-item' %>
      <%= link_to 'Ajouter des cartes', new_album_album_pokemon_path(@album), class: 'dropdown-item' %> <%# Redirection erronée à paramétrer %>
      <%= link_to 'Supprimer des cartes', edit_album_path(@album), class: 'dropdown-item' %> <%# Redirection erronée à paramétrer %>
    </ul>
  </div>

  <%# --------------------------- NAVBAR ALBUM DROPDOWN --------------------------- %>

  <%= link_to 'Edit Album', edit_album_path(@album), class: 'btn btn-primary' %>

  <h2 class="titlePoke">Mes cartes Pokemons</h2>

  <ul class="row p-0">
    <% @pokemons.each do |pokemon| %>
      <% extension = ActiveRecord::Base.connection.execute("SELECT extension_name, season_name FROM extensions JOIN seasons ON extensions.season_id = seasons.id WHERE extensions.id = #{pokemon.extension_id}").first %>
      <li class="card-size">
        <div class="content col">
          <span class="name-style">
            <%= pokemon.pokemon_name %>
          </span>
          <div class="img-size">
            <% if pokemon.image != "/high.webp" %>
            <%= link_to image_tag(pokemon.image, class: "pokemon-image"), album_album_pokemon_pokemon_path(@album.id, pokemon.id) %>
            <% else %>
              <%= link_to image_tag("Pika-no-image", class: "pokemon-image no-image"), album_album_pokemon_pokemon_path(@album.id, pokemon.id) %>
            <% end %>
          </div>
          <%= extension["extension_name"] %> | <%= extension["season_name"] %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add New Pokemon", new_album_album_pokemon_path(@album), class: "btn btn-success" %>
  <%= link_to 'Back to Albums', collection_path(@album.collection), class: 'btn btn-secondary' %>
  <%# <%= button_to 'Delete', album_path(album), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <%# <%= button_to 'Delete', album_path(@album), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>


</div>
