<div class="container">
  <h1><%= @album.name %></h1>

  <%# --------------------------- NAVBAR ALBUM DROPDOWN --------------------------- %>
 <!-- <div class="dropdown-center navbar-album">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Editer mon album
    </button>
    <div class="dropdown-menu">
      <%= link_to 'Renommer mon album', edit_album_path(@album), class: 'dropdown-item' %>
      <%= link_to 'Ajouter des cartes', new_album_album_pokemon_path(@album), class: 'dropdown-item' %> <%# Redirection erronée à paramétrer %>
      <%= link_to 'Supprimer des cartes', edit_album_path(@album), class: 'dropdown-item' %> <%# Redirection erronée à paramétrer %>
    </div>
  </div> -->

  <%# --------------------------- NAVBAR ALBUM DROPDOWN --------------------------- %>

  <div class="w-100" data-controller="suppression" id="liste-elements">
    <ul class="d-flex flex-wrap justify-content-center m-0 p-0 row p-0">

    <%= render 'album_pokemons/search' %>

    <%= link_to "Mes cartes", request.params.except(:type, :season_id, :name, :extension_id), class: 'btn btn-primary' %>


  <h2 class="titlePoke">Mes cartes Pokemons</h2>

  <div class="w-100" data-controller="suppression" id="liste-elements">
    <ul class="d-flex flex-wrap justify-content-center m-0 p-0 row p-0">

      <% @pokemons.each do |pokemon| %>
        <% extension = ActiveRecord::Base.connection.execute("SELECT extension_name, season_name FROM extensions JOIN seasons ON extensions.season_id = seasons.id WHERE extensions.id = #{pokemon.extension_id}").first %>
        <li class="card-size" data-suppression-target="card">
          <div class="content col carte">
            <span class="name-style">
              <%= pokemon.pokemon_name %>
            </span>
            <div class="img-size">
              <% if pokemon.image != "/high.webp" %>
                <%= link_to image_tag(pokemon.image, class: "pokemon-image"), album_album_pokemon_pokemon_path(@album.id, pokemon.id) %>
              <% else %>
                <%= link_to image_tag("Pika-no-image", class: "pokemon-image no-image"), album_album_pokemon_pokemon_path(@album.id, pokemon.id) %>
              <% end %>
            </div>
            <%= extension["extension_name"] %> | <%= extension["season_name"] %>
          </div>
          <input type="checkbox" name="selected_pokemons[]" value="<%= pokemon.id %>" data-suppression-target="checkbox" disabled>
        </li>
      <% end %>
    </ul>

    <button id="deleteSelectedButton" data-action="click->suppression#supprimerSelection">Supprimer les cartes sélectionnées</button>
  </div>
</div>
<%= javascript_include_tag 'activate_button_delete' %>
