<h1><%= @album.name %></h1>

<%= link_to 'Edit Album', edit_user_collection_album_path(@collection, @album), class: 'btn btn-primary' %>

<h2>Pokemons</h2>
<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <%= pokemon.pokemon_name %>
      <%= image_tag pokemon.image if pokemon.image.present? %>
    </li>
  <% end %>
</ul>
<%= link_to "Add New Pokemon", new_user_collection_album_pokemon_path(collection_id: @collection.id, album_id: @album.id), class: "btn btn-success" %>
<%= link_to 'Back to Albums', user_collection_path(current_user, @collection), class: 'btn btn-secondary' %>
