<%= form_tag new_user_collection_album_pokemon_path(@user, @collection, @album), method: :get do %>
  <div class="form-group" >
    <%= label_tag :pokemon_id, "Nom Pokemon ou son ID" %>
    <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Evoli / pop3-13" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div data-controller="search">
  <% @seasons.each do |season| %>
    <button data-action="click->search#fire"><%= season.season_name %></button>
  <% end %>
  
</div>
