<h1>Search Pokémon by Name</h1>

<%= form_tag new_user_collection_album_pokemon_path(@user, @collection, @album), method: :get do %>
  <div class="form-group">
    <%= label_tag :name, "Pokemon Name" %>
    <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Enter Pokemon name" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @pokemons.any? %>
  <h2>Search Results:</h2>
  <%= form_with(model: [@collection, @album, @pokemons], url: user_collection_album_pokemons_path(@collection, @album), method: :post) do |form| %>
    <div class="form-group">
      <%= label_tag :pokemon_id, "Select Pokemon" %>
      <%= select_tag :pokemon_id, options_from_collection_for_select(@pokemons, :id, :pokemon_name), { prompt: "Choose Pokémon", class: "form-control" } %>
    </div>
    <%= submit_tag "Add Pokémon", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p>No Pokemon found with the given name.</p>
<% end %>

<%= link_to "Back", user_collection_album_path(@user, @collection, @album), class: "btn btn-secondary" %>
