<div class="container">

  <h1 class="poke-name-title"><%= @pokemon.pokemon_name%></h1>

  <div class="all-infos">

    <div class="poke-card" data-controller="carousel" data-carousel-target="board">
      <% @album.pokemons.each do |pokemon| %>
        <div data-carousel-target="card">
          <% if pokemon.image != "/high.webp" %>
              <%= image_tag(pokemon.image, class: "pokemon-image-info") %>
          <% else %>
              <%= image_tag("Pika-no-image", class: "pokemon-image-info no-image") %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="info-zone">

      <div class="zone fs-6 text">
        <span class="title">Informations du Pokémon</span>
        <div class="col"><span>Nom</span> : <%= @pokemon.pokemon_name%></div>
        <div class="col"><span>Saison - Extension :</span> <%= @pokemon.pokemon_id%></div>
        <div class="col">
          <% @pokemon.metadata["types"].each do |type| %>
          <span>Type:
            <%= image_tag(@pokemon.icon_type_src(type), class: 'icon') %>
          </span>
          <%end%>
        </div>
      </div>

      <div class="zone fs-6 text">
        <span class="title">Rareté</span>
        <div class="col"><%= @pokemon.rarity%></div>
      </div>

      <div class="zone fs-6 text">
        <span>Attaques et effets</span>

    <% @pokemon.metadata["attaques"].each do |attaque| %>
      <span>Coût:
        <% attaque["cost"].each do |cost| %>
          <%= image_tag(@pokemon.icon_type_src(cost), class: 'icon text-start') %>
        <% end %>
      </span>

          <span>Nom:</span> <%= attaque["name"] %>
          <span>Dégat:</span> <%= attaque["damage"] %>
          <span>Effet:</span> <%= attaque["effect"] %>

          <% end %>
      </div>
    </div>
  </div>
<%= link_to 'Retour à mon album', album_path, class: 'btn btn-secondary' %>
</div>
