<div class="container">

  <h1><%= @pokemon.pokemon_name%><h1>

  <div class="row">
    <div class="img-size">
      <% if @pokemon.image != "/high.webp" %>
      <%= link_to image_tag(@pokemon.image, class: "pokemon-image") %>
      <% else %>
      <%= link_to image_tag("Pika-no-image", class: "pokemon-image no-image") %>
      <% end %>
    </div>

    <div class="info-zone row">
    <div class="col"><%= @pokemon.pokemon_name%></div>
    <div class="col"><%= @pokemon.pokemon_id%></div>
    <div class="col"><%= @pokemon.rarity%></div>

<%= @pokemon.metadata["attaques"]%>
<%= @pokemon.metadata["effect"]%>


    </div>
  </div>
</div>
